<template>
  <div id="app">
    <header>味多美（马连洼店）</header>
    <div class="main">
      <left :newArr.sync="newArr"/>
      <right :newArr.sync="newArr"/>
    </div>
    <Footer />
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";
import left from "@/components/left";
import right from "@/components/right";
import Footer from "@/components/footer";

export default {
  name: "App",
  components: {
    left,
    right,
    Footer
  },
  created() {
    this.getnewData();
  },
  computed: {
    newArr() {
      return this.$store.state.shoplist;
    },
    newName() {
      return this.$store.state.arr.shopInfo.shopName;
    }
  },
  methods: {
    getnewData() {
      this.$store.dispatch("getnewData");
    }
  }
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  position: relative;
}
header {
  height: 40px;
  line-height: 40px;
  background: #f2f3f4;
  padding: 0 20px;
  box-sizing: border-box;
  font-weight: bold;
}
.main {
  display: flex;
  overflow: auto;
  margin-bottom: 40px;
}
.left {
  width: 80px;
}
.right {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.shops_item {
  display: flex;
  margin-bottom: 6px;
}
.shops_item img {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  box-sizing: border-box;
}
.items_title {
  padding-right: 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.price_box button,
.price_box span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: none;
  outline: none;
}
</style>
