<template>
  <div class="shopcar">
    <div v-for="(value, ind) in selectShops" class="shop_item" :key="ind">
        <h4>{{value.spuName}}</h4>
        <div class="shop_desc">
            <p>价格{{value.currentPrice}}</p>
            <div class="price_box">
                <button @click.stop="reduceCount($store.state.detailIndex,ind)">-</button>
                <span>{{value.activityType}}</span>
                <button @click.stop="addCount($store.state.detailIndex,ind)">+</button>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DiaLog",
  props: ["selectShops","newArr"],
  methods: {
    addCount(index, ind) {
      this.$store.commit("addCount", { index, ind });
    },
    reduceCount(index, ind) {
      this.$store.commit("reduceCount", { index, ind });
    }
  }
};
</script>

<style>
.shopcar {
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0;
  background: #fff;
  color: #333;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}
.shop_item{
    height: 60px;
}
.shop_desc{
    display: flex;
    padding-top: 10px;
    box-sizing: border-box;
    justify-content: space-between;

}
</style>
