<template>
  <div class="footer" @click="gocar">
    <Dialog v-if="flag" :selectShops.sync = "selectShops"/>
    <div class="content">总数量：{{$store.state.allNum}} 总价：{{$store.state.allPrice}}</div>
    <div class="buy">购买</div>
  </div>
</template>

<script>
import Dialog from "@/components/dialog";

export default {
  name: "footerdiv",
  data() {
    return {
      selectShops: [],
      flag: false
    };
  },
  methods: {
    gocar() {
      this.flag = !this.flag;
      this.selectShops = [];
      this.$store.state.shoplist.map(i => {
        i.spuList.map(item => {
          item.activityType > 0 ? this.selectShops.push(item) : [];
        });
      });
    }
  },
  components: {
    Dialog
  }
};
</script>

<style>
.footer {
  width: 100%;
  height: 40px;
  background: #f2f3f4;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.buy {
  background: green;
  text-align: center;
  width: 80px;
  line-height: 40px;
}
.content{
  line-height: 40px;
}
</style>
