<template>
  <div class="left">
    <ul class="left_ul">
      <li v-for="(val, index) in newArr" @click="getTitle(index)">{{val.categoryName}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "leftdiv",
  props: ["newArr"],
  methods:{
    getTitle(index){
      this.$store.commit('getTitle',index)
    }
  }
};
</script>

<style>
.left_ul li {
  height: 36px;
  line-height: 36px;
  text-align: center;
}
</style>
