<template>
    <div class="right">
        <div v-for="(val, index) in newArr" :key="index" v-if="$store.state.detailIndex === index">
            <p>{{val.categoryName}}</p>
            <div v-for="(value, ind) in val.spuList" class="shops_item" :key="ind">
                <img :src="value.littleImageUrl" alt="" />
                <div class="items_describe">
                    <h3 class="items_title">{{value.spuName}}</h3>
                    <p>价格{{value.currentPrice}}</p>
                    <div class="price_box">
                        <button @click="reduceCount(index,ind)">-</button>
                        <span>{{value.activityType}}</span>
                        <button @click="addCount(index,ind)">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex';
export default {
    name: 'rightdiv',
    props: ['newArr'],
    methods:{
        addCount(index,ind){
            this.$store.commit('addCount', {index, ind})
        },
        reduceCount(index,ind){
            this.$store.commit('reduceCount', {index, ind})
        }
    }
}
</script>

<style>

</style>
